<div class="columns">
    <div class="notification is-danger error-container" ng-show="vm.form.errors.length>0">
        <ul ng-repeat="err in vm.form.errors">
            <li> {{ vm.model.errorDictionary[ err.key + err.name] || err.key + err.name }}</li>
        </ul>
    </div>
</div>
<div class="columns">
    <search-box on-submit="vm.onSubmitClick()"
                on-reset = "vm.onResetClick()"
                ng-model="vm.model.search" form="vm.form"/>
    <search-result ng-model="vm.model.flightResult" />
</div>
