<div class="card " ng-repeat="item in resultItems">
    <header class="card-header">
        <p class="card-header-title">
            <span class="title"> Rs. 95000.00 </span>
        </p>
    </header>
    <div class="card-content">
        <div class="columns">
            <div class="column">
                <div class="subtitle is-5 marginBottom">Al-202</div>
                <div class="subtitle is-3 marginBottom">PNQ > DEL</div>
                <div class="subtitle is-4 marginBottom">Depart: 10.00 AM</div>
                <div class="subtitle is-4 marginBottom">Depart: 12.00 AM</div>
            </div>
            <div class="column">
                <div class="subtitle is-5 marginBottom">Al-202</div>
                <div class="subtitle is-3 marginBottom">PNQ > DEL</div>
                <div class="subtitle is-4 marginBottom">Depart: 10.00 AM</div>
                <div class="subtitle is-4 marginBottom">Depart: 12.00 AM</div>
            </div>
            <div class="column">
                <div class="  is-hidden-touch has-text-centered">
                    <img src="http://placehold.it/275x115">
                </div>
                <div class="image is-hidden-desktop">
                    <img src="http://placehold.it/175x75">
                </div>
                <button class="button is-primary is-medium full-width marginTop">
                    Book This Flight
                </button>

            </div>
        </div>
    </div>
    <footer class="card-footer">
    </footer>
</div>