<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
       <div class="box tmp">
           {{title}}
       </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
       <div class="box tmp">
           {{author}}
       </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
        <div class="box tmp">
            <a class="" href="" ng-click="showSketch(id)">
                View
            </a>
            &nbsp;
            &nbsp;<a ng-show="isValidUser()" ng-href="#/edit/{{id}}">
                Edit
            </a>
            &nbsp;
            <a ng-show="isValidUser()" ng-href="#/delete/{{id}}">
                Del
            </a>
        </div>
    </div>
    <br/>
</div>